{% extends 'base.html' %}

{% block content %}
<div>
    <div class="card">
        <div class="card-header">
            <h1>relatório do dia</h1>
        </div>
        <p>Total do dia: {{ total }}</p>
        <p>Pedidos: {{ len_pedidos }}</p>
        <p>Dinheiro: {{ dinheiro }}</p>
        <p>Pix: {{ pix }}</p>
        <p>Débito: {{ debito }}</p>
        <p>Crédito: {{ credito }}</p>
    </div>
    
    {% for pedido in pedidos %}
        <div class="card">
            <p>{{ pedido.id }} - {{pedido.abertura}} - {{pedido.total}}</p>
        </div>
    {% endfor %}
    {% endblock content %}
</div>