{% extends 'base.html' %}

{% block content %}
<div class="grid-container">
    <div class="card">
        <div class="card-header">
            <h1>relatório do dia</h1>
        </div>
        <div class="card-body">
            <p>Total do dia: {{ total }}</p>
            <p>Pedidos: {{ len_pedidos }}</p>
        </div>
        
    </div>
    
    <div class="card">
        <div class="card-body">
            <p>Dinheiro: {{ dinheiro }}</p>
            <p>Pix: {{ pix }}</p>
            <p>Débito: {{ debito }}</p>
            <p>Crédito: {{ credito }}</p>
        </div>
    </div>

    {% for pedido in pedidos %}
        <div class="card">
            <p>{{ pedido.id }} - {{pedido.abertura}} - {{pedido.total}}</p>
        </div>
    {% endfor %}
    {% endblock content %}
</div>