{% extends 'base.html' %}

{% block content %}
<h2>Lista de Clientes</h2>

<form method="post" class="mb-4">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <button type="submit" class="btn btn-success mt-2">Salvar</button>
</form>

<table class="table table-bordered table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>Nome</th>
            <th>Data de Nascimento</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in clientes %}
        <tr>
            <td>{{ cliente.nome }}</td>
            <td>{{ cliente.data_nasc }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">Nenhum cliente cadastrado.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}